<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projeto_pratico.Properties.Settings.CRMIFSPConnectionString"
            connectionString="Data Source=DESKTOP-SFAVJTC\SQLEXPRESS;Initial Catalog=CRMIFSP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>