USE [master]
GO
/****** Object:  Database [CRMIFSP]    Script Date: 09/12/2022 18:11:04 ******/
CREATE DATABASE [CRMIFSP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRMIFSP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRMIFSP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRMIFSP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRMIFSP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRMIFSP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRMIFSP]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome_cliente] [varchar](70) NULL,
	[CNPJ_cliente] [varchar](20) NULL,
	[End_cliente] [varchar](70) NULL,
	[UF_cliente] [varchar](3) NULL,
	[Tel_cliente] [varchar](20) NULL,
	[Ramal_cliente] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprador]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprador](
	[id_comprador] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[Nome_comprador] [varchar](70) NULL,
	[Setor_comprador] [varchar](50) NULL,
	[Cargo_comprador] [varchar](50) NULL,
	[DDD_comprador] [int] NULL,
	[Tel_comprador] [varchar](20) NULL,
	[Ramal_comprador] [varchar](10) NULL,
	[Email_comprador] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comprador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_vendedor] [int] NULL,
	[id_cliente] [int] NULL,
	[valor_pedido] [decimal](9, 2) NULL,
	[status_pedido] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posicao]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posicao](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[posicao_status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[desc_produto] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propostas]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propostas](
	[id_proposta] [int] IDENTITY(1,1) NOT NULL,
	[id_vendedor] [int] NULL,
	[id_cliente] [int] NULL,
	[qtde] [int] NULL,
	[valor_unit] [decimal](9, 2) NULL,
	[id_produto] [int] NULL,
	[id_stautus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 09/12/2022 18:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[id_vendedor] [int] IDENTITY(1,1) NOT NULL,
	[Nome_vendedor] [varchar](70) NULL,
	[Dt_Nascimento] [varchar](15) NULL,
	[Tel_vendedor] [varchar](20) NULL,
	[CPF_vendedor] [varchar](20) NULL,
	[End_vendedor] [varchar](70) NULL,
	[Email_vendedor] [varchar](30) NULL,
	[Senha_vendedor] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comprador]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[Vendedor] ([id_vendedor])
GO
ALTER TABLE [dbo].[Propostas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Propostas]  WITH CHECK ADD FOREIGN KEY([id_produto])
REFERENCES [dbo].[Produtos] ([id_produto])
GO
ALTER TABLE [dbo].[Propostas]  WITH CHECK ADD FOREIGN KEY([id_stautus])
REFERENCES [dbo].[Posicao] ([id_status])
GO
ALTER TABLE [dbo].[Propostas]  WITH CHECK ADD FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[Vendedor] ([id_vendedor])
GO
USE [master]
GO
